body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hover ของเมนู */
.navbar-nav .nav-item .nav-link:hover {
  color: black;
  background-color: #f0f0f0;
  border-radius: 8px;
}